html{
    background-color:   black;
}
header{
    font-size: 2em;
    font: Impact, fantasy;
    font-weight: bold;
    float: left;

}
body{
    color: white;
    padding: 0em 11em 0em 19em;
    background-color:   black;
}
h1{
    color: black;
    float: left;
}
h1 > strong{
    color: white;
    size: 100em;
    font: Verdana, sans-serif;
    font-size: 1.5em;
}
h1 > p > strong{
    color: rgb(215, 0, 0);
    font-size: 4em;
    font: Verdana, sans-serif;
    font-weight: bold;
}
p2{
    border-right-width: 2em;
}
p2 > strong{
    font-size: 7px;
}
#logo {
    float: right;
}
figure {
    float: right;
    color: red;
}
