#add{
	width: 906px;
	margin: 0 auto;
	text-align: center;
}

div > li {
    padding: 10px;
	display: inline;
	align: left;
	text-decoration: none;
	font-size: larger;
	background-color: rgb(231, 192, 63);
	color: black;
	
}
#addvertisements{
	display: block;
	clear: left;
	margin: 1em auto;
	border-radius: 7px;
}