@charset "utf-8";

html{
    background-color: rgb(253, 253, 168);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
nav{
    font-family: 'Times New Roman', Times, serif;

}