@charset "utf-8";

html{
    background-color: rgb(253, 242, 174);
    font-family: Georgia, serif ;
    text-decoration-color: rgb(252, 246, 215);
}
header nav a:link {
	padding: 50px;
	text-decoration: none;
	font-size: 20px;
	background-color: rgb(231, 192, 63);
	color: black;
}

head{
    font-size: 20px;
	
}
li {
    padding: 20px;
	display: inline;
}
main {
	font-size: 1.2rem;
	line-height: 1.5;
	text-align: justify;
	background-color: rgb(231, 192, 63);
	display: flex;
	flex-direction: row;
}